<h1><%= @currentPortfolio.name %> (<%= @currentPortfolio.number %>)</h1>
<h3>Accounts:</h3>
<table>
  <thead>
  <tr>
    <td>Number</td>
    <td>Name</td>
    <td>Balance</td>
  </tr>
  </thead>
  <tbody>
  <% @currentPortfolio.eachAccount do |account| %>
      <tr>
        <td><%= account.number %></td>
        <td><a href="<%= self.urlFor(account) %>"><%= account.name %></a></td>
        <td><%= account.balance %></td>
      </tr>
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td><%= @currentPortfolio.balance %></td>
  </tr>
  <tr>
    <form method="post" action="/addAccountToPortfolio">
      <td><input type="text" name="accountNumber" /></td>
      <td><input type="submit" name="action" value="Add"></td>
      <td></td>
      <input type="hidden" name="portfolioNumber" value=<%= @currentPortfolio.number %>>
    </form>
  </tr>
  </tbody>
</table>

